.wrapper {
  padding-top: 60px;
}

.profile {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-sidebar {
  padding: 2rem;
}

.profile .name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.profile .job {
  color: #666;
  margin-bottom: 1.5rem;
}

.profile .img-wrapper {
  position: relative;
  margin-bottom: 2.5rem;
}

.profile img {
  width: 100%;
  height: auto;
  object-fit: cover;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  border-radius: 0.5rem;
}

.profile .icon-overlay {
  position: absolute;
  bottom: -1rem;
  left: 0.7rem;
  background: #fcd307;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.profile .icon-overlay i {
  font-size: 1.25rem;
  color: #000;
}

.profile .timeline {
  position: relative;
  padding-left: 5rem;
  list-style: none;
  margin-bottom: 2rem;
}

.profile .timeline::before {
  content: '';
  position: absolute;
  left: 2rem;
  top: -3rem;
  bottom: 6rem;
  width: 2px;
  background-color: #fcd307;
}

.profile .timeline li {
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  color: #666;
}

.profile .timeline li::before {
  content: '';
  position: absolute;
  left: -3.25rem;
  top: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #fff;
  border: 2px solid #fcd307;
  border-radius: 50%;
  z-index: 1;
}

.profile .download-cv .btn {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  font-weight: 700;
  transition: background-color 0.3s;
}

.profile .download-cv .btn:hover {
  background-color: #ffc700;
}




@media (max-width: 768px) {
  aside.col-lg-3.col-md-4 {
    width: 100%;
    padding: 0 1rem;
  }

  .profile {
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
  }

  .profile-sidebar {
    padding: 1.5rem 1rem;
    text-align: center;
  }

  .profile .name {
    font-size: 1.25rem;
  }

  .profile .job {
    font-size: 0.95rem;
    margin-bottom: 1rem;
  }

  .profile .img-wrapper {
    margin-bottom: 2rem;
  }

  .profile .timeline {
    padding-left: 2rem;
  }



  .profile .timeline li::before {
    left: -0.25rem;
  }

  .profile .download-cv .btn {
    width: 60%;
    font-size: 1rem;
    padding: 0.75rem;
  }

  .profile .timeline::before {
    left: 2rem;
    bottom: 4rem;
  }
}